
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import "tailwindcss"; */
/* @plugin "daisyui"; */
[x-cloak] {
    display: none;
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(-10px);}
    to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in {
    animation: fade-in 0.2s ease;
}

@keyframes fade-out {
    from { opacity: 1; transform: translateY(0);}
    to { opacity: 0; transform: translateY(-10px);}
}
.animate-fade-out {
    animation: fade-out 0.2s ease;
}